@media (orientation: landscape) {
    body {
      flex-direction: row;
    }
    
    img {
      max-width: 50vw;
      height: auto;
    }
}
  
@media (orientation: portrait) {
    body {
      flex-direction: column;
    }
    
    img {
      max-width: 90vw;
      height: auto;
    }

    .buttonsall {
      position: relative;
      width: 100vw;
      height: 100vh;
      min-width: 800px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
    }

    .buttons1, .buttons2 {
        position: relative;
        top: 0;
        width: 90vw;
        height: auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2vw;
    }

    .audiobutton, .photobutton, .blenderbutton, .videobutton {
        position: relative;
        left: 0;
        margin: 1vh;
    }
}