body {
    background-image: url("Renders/Room.png");
    height: 100%;
    width: auto;
}

header {
    width: 100%;
    height: initial;
    position: relative;
}

.buttons1 {
    display: grid;
    grid-column-start: auto;
    grid-column-end: auto;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 50%;
    position: absolute;
}

.buttons2 {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 50%;
    position: relative;
    left: 30%;
}

.audiobutton {
    appearance: none;
    border: none;
    height: 40%;
    width: 25%;
    position: absolute;
    left: 5rem;
    z-index: 1;
}

.photobutton {
    appearance: none;
    border: none;
    height: 40%;
    width: 25%;
    position: absolute;
    left: 22rem;
    padding-right: 6rem;
    z-index: 2;
}

.blenderbutton {
    appearance: none;
    border: none;
    height: 40%;
    width: 25%;
    position: relative;
    left: 14rem;
    z-index: 2;
}

.videobutton {
    appearance: none;
    border: none;
    height: 40%;
    width: 25%;
    position: absolute;
    left: 30rem;
    z-index: 1;
}